@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

input[type="submit"] {
  cursor: pointer;
}

body {
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #212529;
  color: #ffffff;
  padding: 20px 0;
}

nav > :nth-child(1) {
  margin-right: 100px;
}

nav > :nth-child(3) {
  margin-left: 1350px;
}

nav .logo h1 a {
  color: #fff;
  text-decoration: none;
}

nav .nav-button button {
  background: none;
  border: none;
  outline: none;
}

nav .nav-button button i {
  color: #fff;
  font-size: 20px;
}

nav .search-box input,
nav .search-box button {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

nav .search-box input {
  width: 200px;
}

nav .search-box button {
  background-color: #182ed2;
  margin-left: -10px;
}

nav .search-box button i {
  font-size: 15px;
  color: #fff;
}

nav .profile-button a {
  color: #fff;
}

nav .profile-button a i:not(:last-child) {
  margin-right: 10px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14% 86%;
      grid-template-columns: 14% 86%;
}

main.active {
  margin-left: -17%;
}

main.active footer {
  width: 100%;
}

main .sidebar {
  background-color: #212529;
  height: 100vh;
  color: white;
  padding: 10px 20px;
}

main .sidebar a {
  color: white;
}

main .sidebar .title {
  margin-bottom: 20px;
}

main .sidebar .title h1 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.25);
  font-weight: 500;
}

main .sidebar .sidebar-link ul li {
  margin-bottom: 20px;
}

main .sidebar .sidebar-link ul li:hover a {
  color: #fff;
}

main .sidebar .sidebar-link ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .sidebar .sidebar-link ul li a i {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.25);
}

main section.main {
  padding: 20px;
}

main section.main .main-title h1 {
  font-size: 40px;
  font-weight: 600;
}

main section.main .main-container {
  border: 1px solid rgba(0, 0, 0, 0.187);
  padding: 10px;
  margin-top: 20px;
}

main section.main .main-container-table {
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.187);
}

main section.main .main-container-table-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.main .main-container-table-box:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.187);
}

main section.main .main-container-table-box-label {
  font-weight: 700;
  border-right: 1px solid rgba(0, 0, 0, 0.187);
  padding: 10px;
  font-size: 16px;
}

main section.main .main-container-table-box-value {
  padding: 10px;
}

main section.main .main-container-table-submit {
  text-align: center;
  padding: 10px;
}

main section.main .main-container-table-submit input {
  padding: 10px 20px;
  background-color: #18d2c6;
  border: none;
  outline: none;
  border-radius: 5px;
}

.profile-box {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  width: 200px;
  border: 1px solid #000;
}

.profile-box a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.profile-box a:last-child {
  border-top: 1px solid #000;
}

.profile-box.active {
  display: block;
}

footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
/*# sourceMappingURL=profile.css.map */