doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home | Registration and Login System
        link(rel="stylesheet", href="../css/main.css")
        
    body 
        nav 
            h3
                a(href="index.html") Registration and Login System 
        main
            section.header 
                h1  User Registration & Login and User Management System with Admin Panel
            a(href="index.html") Home
            section.navigation 
                .signupBox
                    a(href="signup.html") 
                        p Not Registered Yet 
                        .signupbox-button 
                            a(href="signup.html") 
                                p Signup Here
                .loginBox 
                    a(href="login.html") 
                        p Already Registered 
                        .loginBox-button
                            a(href="login.html") 
                                p Login Here 
                .adminBox 
                    a(href="./admin") 
                        p Admin Panel 
                        .adminBox-button 
                            a(href="./admin") 
                                p Login Here

