doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title User Login | Registration and Login System
        link(rel="stylesheet", href="../css/login.css")
        link(rel="stylesheet", href="../css/font-awesome.css")
    body 
        .main-form 
            .form-header 
                .main-heading 
                    h1 Registration and Login System
                .sub-heading 
                    h1 User Login 
            .logForm 
                form(action="welcome.html", method="post") 
                    input#email(type="email", name="email" placeholder="Email address")
                    input#pass(type="password", name="pass" placeholder="password")
                    a(href="password-recovery.html") Forgot Password?
                    input(type="submit", value="Login")
            .formFooter
                a(href="signup.html") Need an account? Sign up! 
                a(href="index.html") Back to Home
        footer 
            p copyright &#169; 2022
            a(href="#") Akash Pathak