doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Dashboard | Registration and Login System
        link(rel="stylesheet", href="../../css/font-awesome.css")
        link(rel="stylesheet", href="../../css/dashboard.css")
        script(src="../../js/script.js" defer) 
    body 
        nav 
            .logo 
                h1 
                    a(href="dashboard.html") Admin Panel 
            .nav-button#navButton
                button 
                    i.fas.fa-bars
            .search-box 
                form(action="searchResult.html") 
                    input#search(type="text", name="search" placeholder="Search User by Name, email and Contact Number")
                    button(type="submit")
                        i.fa-solid.fa-magnifying-glass
            .profile-button#profileButton
                a(href="#") 
                    i.fa-solid.fa-user
                    i.fa-solid.fa-caret-down
        main#mainPage
            .sidebar#sidebar 
                .title 
                    h1 CORE 
                .sidebar-link
                    ul.sidebar-link-list
                        li.sidebar-link-list-item
                            a(href="dashboard.html") 
                                i.fa-solid.fa-gauge-high
                                p Dashboard
                        li.sidebar-link-list-item
                            a(href="manage-users.html") 
                                i.fa-solid.fa-users
                                p Manage Users
                        li.sidebar-link-list-item
                            a(href="bwdates-report-ds.html") 
                                i.fa-solid.fa-calendar
                                p B/w Dates Report
                        li.sidebar-link-list-item
                            a(href="index.html") 
                                i.fa-solid.fa-right-from-bracket
                                p Signout
            section.main
                .main-title
                    h1 Dashboard
                .sub-title
                    h1 Dashboard 
                .main-navigation 
                    .main-navigation-box 
                        .main-navigation-box-text 
                            p 
                                | Total Registered Users 
                                span 2
                        .main-navigation-box-link 
                            a(href="manage-users.html") View Details
                                i.fa-solid.fa-angle-right
                    .main-navigation-box 
                        .main-navigation-box-text 
                            p 
                                | Yesterday Registered Users 
                                span 1
                        .main-navigation-box-link 
                            a(href="yesterday-reg-users.html") View Details
                                i.fa-solid.fa-angle-right
                    .main-navigation-box 
                        .main-navigation-box-text 
                            p 
                                | Registered Users in Last 7 Days 
                                span 1
                        .main-navigation-box-link 
                            a(href="lastsevendays-reg-users.html") View Details
                                i.fa-solid.fa-angle-right
                    .main-navigation-box     
                        .main-navigation-box-text 
                            p 
                                | Registered Users in Last 30 Days
                                span 1
                        .main-navigation-box-link 
                            a(href="lastthirtydays-reg-users.html") View Details 
                                i.fa-solid.fa-angle-right
                footer 
                    p copyright &#169; 2022
                    a(href="#") Akash Pathak
        .profile-box 
            a(href="change-password.html") Change Password 
            a(href="index.html") Logout